@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Welcome to our Privacy Policy page! Here's the deal:</p>

<div class="card-deck mt-4">
    <div class="card">
        <div class="card-body">
            <p class="card-text">We promise not to sell your data to <strong>aliens</strong>. They have enough information already.</p>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <p class="card-text">Your data is safe with us, unless we accidentally leave it on a <strong>USB stick</strong> in a coffee shop. Just kidding, we use the cloud!</p>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <p class="card-text">We only collect the data we need to make your experience <strong>awesome</strong>. No unnecessary snooping, we promise.</p>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <p class="card-text">If you have any concerns about your privacy, feel free to contact our Chief Privacy Officer, who is definitely not a <strong>robot</strong>.</p>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <p class="card-text">Remember, sharing is caring, but your data is yours. We respect that.</p>
        </div>
    </div>
</div>

<p class="mt-4">Thank you for trusting us with your data. We take privacy seriously, even if we like to have a little fun with it!</p>
